.foto-perfil{
    margin: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 200px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: linear-gradient(cornflowerblue, rgb(218, 237, 245));
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}

h2{
    
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
    background-color: rgb(218, 237, 245);
    border: 2px solid grey;
    border-radius: 5px;
    margin: 0px;
    z-index: 1000;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #314258;
    gap: 1rem;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #111;
}

  /* Submenú */
nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: auto;
    background-color: #111;
    min-width: 150px;
 }

nav li:hover ul {
    display: inline-block;
    
}

nav li ul li a {
    color: #fff;
}

nav li ul li a:hover {
    background-color: white;
    color: black;
}

    /* Submenú flecha visual */
nav ul .subEstudios:hover > a::after{
    content: ' ▼';
    font-size: 0.7rem;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/*resposive para moviles*/

@media (max-width: 768px) {
    .hamburger {
    display: block;
    width: 100%;
    text-align: center;
  }

    .nav-list {
    display: none;
    flex-direction: column;
    background-color: #314258;
    position: absolute;
    top: 100px;
    left: 0;
    width: 200px;
    padding: 10px;
  }

  .nav-list.active{
    display: block;
    position: absolute;
    top: 100%;
    left: auto;
    background-color: #314258;
    min-width: 150px;
  }

  .subEstudios{
    display: block;
    position: relative;
  }

}

section{
    background-color: rgb(218, 237, 245);
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    scroll-margin-top: 150px;
}

#acerca{
    text-align: justify;
    padding: 20px;
}

article{
    display: flex;
    flex-direction: row;
}

.caja{
    flex: 1; /* Para que ambos div ocupen el mismo espacio */
    padding: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}

.caja ul,ol{
    text-align: left;
}

table, td, th {
    border: 1px solid white;
}

.caja table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.caja table td{
    width: 300px;
}

.caja table th{
    background-color: cornflowerblue;
}

#formSection{
    background-color: #ffffff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario */
.formContainer form {
    display: flex;
    flex-direction: column;
}

.formContainer label {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.formContainer input,
.formContainer textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.formContainer input:focus,
.formContainer textarea:focus {
    border-color: #3498db;
    outline: none;
}

.formContainer textarea {
    resize: vertical;
    min-height: 100px;
}

/* Botón */
.formContainer button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formContainer button:hover {
    background-color: #2980b9;
}

footer{
    background-color: rgb(22, 27, 29);
    color: white;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

footer a{
    display: inline-block;
    color: #fff;
    margin: 5px;
    padding: 10px;
}
footer a:hover{
    color: aqua;
}
